@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=3af16084-ba56-49ca-b37d-0b49b59e1927");html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}@font-face{font-family:"AleoRegular";src:url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/Aleo-Regular-webfont.eot);src:url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/Aleo-Regular-webfont.eot?#iefix) format('embedded-opentype'),url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/Aleo-Regular-webfont.woff) format('woff'),url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/Aleo-Regular-webfont.ttf) format('truetype'),url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/Aleo-Regular-webfont.svg) format('svg')}@font-face{font-family:"AleoBold";src:url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/Aleo-Bold-webfont.eot);src:url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/Aleo-Bold-webfont.eot?#iefix) format('embedded-opentype'),url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/Aleo-Bold-webfont.woff) format('woff'),url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/Aleo-Bold-webfont.ttf) format('truetype'),url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/Aleo-Bold-webfont.svg) format('svg')}@font-face{font-family:"ProximaNovaBold";src:url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot);src:url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix) format('embedded-opentype'),url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/d999c07b-a049-4eb5-b8a6-4f36ae25e67e.woff) format('woff'),url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/4d4a75f5-d32a-4a09-8665-133afd39cc37.ttf) format('truetype'),url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/8152bc4e-d700-4c78-b6be-326893e6f53f.svg) format('svg')}body{counter-reset: chapter;min-height:100%;background:#fff}html{min-height:100%}.progress-bar{position:fixed;left:0;top:0;height:3px;display:inline-block;background:#ff7373;width:20%;z-index:2}
@font-face{font-family:"Proxima Nova Regular";font-weight:normal;font-style:normal;src:url('http://s1.libe.com/font/license/27522D_B_0.eot?6f3b7a3a38b9') format("eot");src:url('http://s1.libe.com/font/license/27522D_B_0.eot?#iefix') format("embedded-opentype"),url('http://s1.libe.com/font/license/27522D_B_0.woff?973092db2463') format("woff"),url('http://s1.libe.com/font/license/27522D_B_0.ttf?326b4ed42028') format("truetype"),url('http://s1.libe.com/font/license/27522D_B_0.svg#Proxima Nova Regular') format("svg")}@font-face{font-family:"Proxima Nova Regular Bold";font-weight:normal;font-style:normal;src:url('http://s1.libe.com/font/license/27522D_C_0.eot?7651b0835130') format("eot");src:url('http://s1.libe.com/font/license/27522D_C_0.eot?#iefix') format("embedded-opentype"),url('http://s1.libe.com/font/license/27522D_C_0.woff?1d97b03ffbee') format("woff"),url('http://s1.libe.com/font/license/27522D_C_0.ttf?c4b6119d8273') format("truetype"),url('http://s1.libe.com/font/license/27522D_C_0.svg#Proxima Nova Regular Bold') format("svg")}@font-face{font-family:"Trade Gothic Bold Cond";font-weight:normal;font-style:normal;src:url('http://s1.libe.com/font/license/tradegothicltstd-bdcn20.eot?1669fae0818a') format("eot");src:url('http://s1.libe.com/font/license/tradegothicltstd-bdcn20.eot?#iefix') format("embedded-opentype"),url('http://s1.libe.com/font/license/tradegothicltstd-bdcn20.woff?7f6be2b8eca9') format("woff"),url('http://s1.libe.com/font/license/tradegothicltstd-bdcn20.ttf?5dda5c1e2946') format("truetype"),url('http://s1.libe.com/font/license/tradegothicltstd-bdcn20.svg#Trade Gothic Bold Cond') format("svg")}

html, body {
    width: 100%;
}

section.cover {
    width: 100%;
    overflow-x: hidden;
    display: block;
    margin-top: 25px;
    position: relative;
    top: 0;
    left: 0;
    background-size: 100% auto;
    background-position: center;
    height: auto;
}

section.cover div.darkfilter {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
    position: absolute;
    top: 0;
    left: 0;
}

section.cover a.nav {
    position: absolute;
    font-size: 8em;
    color: #fff;
    top: 50%;
    -webkit-transform: translate(0, -50%);
       -moz-transform: translate(0, -50%);
         -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
    transition: left .3s, right .3s;
}

section.cover a.nav-prev {
    left: 20px;
}

section.cover a.nav-prev:hover {
    left: 10px;
}

section.cover a.nav-next {
    right: 20px;
}

section.cover a.nav-next:hover {
    right: 10px;
}

section.cover h2, section.cover h3 {
    font-family: "Trade Gothic Bold Cond";
    font-size: 7em;
    letter-spacing: -2px;
    color: #fff;
}

section.cover h3 {
    font-size: 4em;
    text-transform: uppercase;
}

section.cover p {
    color: #fff;
    font-family: "Proxima Nova Regular";
    font-size: 1em;
    padding-top: 1em;
    width: 70%;
}

section.cover p a {
    color: inherit;
    text-decoration: underline;
}

section.cover p span.slug {
    font-family: "Trade Gothic Bold Cond";
    text-transform: uppercase;
    color: #C42121;
}

section.cover .step {
    margin: 0 15%;
    padding: 40px 0 50px 0;
    position: relative;
    display: inline-block;
}

section.cover .step--bubbles {
    text-align: center;
    list-style-type: none;
}

section.cover .step--bubbles li {
    margin-right: 5px;
    display: inline-block;
}

section.cover .step--bubbles li a {
    color: #fff;
}

section.cover .step--bubbles i:last-of-type {
    margin-right: 0;
}

section.cover .credits {
    position: absolute;
    bottom: 0;
    left: 15px;
    font-size: .8em;
    pointer-events: none;
}

section.filters {
    background: #dedede;
    z-index: 1000;
}

section.filters div.filters__wrapper {
    width: 75%;
    margin: 0 auto;
    padding: 5px 40px 10px 40px;
}

section.content {
    position: relative;
    width: 75%;
    margin: 0 auto;
    font-family: Georgia, serif;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

div.timeline {
    width: 100%;
}

em {
    font-style: italic;
}

.btn-default {
    margin: 5px 5px 0 0;
}

/* SVG */

svg {
    width: 100%;
}

.axis, .axis svg {
    background: #fff;
}

svg .axis text {
    font-family: "Trade Gothic Bold Cond";
}

svg .axis path, svg .axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

svg .rulers line.ruler {
    stroke-width: 1px;
    stroke: #dedede;
}

svg .bar rect {
    stroke: none;
}

svg .bar line {
    stroke-width: 2px;
}

svg .bar text {
    fill: #fff;
    font-family: 'Trade Gothic Bold Cond';
    font-size: 1em;
    -webkit-transform: translate(10px, -7px);
       -moz-transform: translate(10px, -7px);
         -o-transform: translate(10px, -7px);
            transform: translate(10px, -7px);
    pointer-events: none;
}

.popover > .arrow {
    display: none !important;
}

/* Mobile */
.mobile {
    display: none;
}

@media (max-width: 500px) {
    section.cover {
        background-size:auto 100%;
    }
}

@media (max-device-width: 768px) {
    section.cover .step {
        padding: 0;
    }

    section.cover h2 {
        font-size: 4em;
        line-height: 1em;
    }

    section.cover a.nav {
        font-size: 6em;
    }

    section.cover a.nav-prev {
        left: 10px;
    }

    section.cover a.nav-next {
        right: 10px;
    }

    section.cover p {
        width: 90%;
    }


    section.content {
        display: none;
        width: 90%;
    }

    select.form-control {
        margin-top: 5px;
    }

    section.mobile {
        display: block;
    }

    section.mobile {
        padding-top: 20px;
    }
}